@font-face{
    font-family: "Roboto";
    src : url(/assets/font/Roboto/Roboto-Regular.ttf);
}

@media (min-width: 1001px) {

    body {
        background-image: url("/assets/img/background.jpg");
        background-size: cover;
    }

    form {
        border-color: black;
        border-radius: 8px;
    }

    #container {
        width: 400px;
        margin: 0 auto;
        margin-top: 10%;
    }

    /* Bordered form */
    form {
        width: 100%;
        padding: 30px;
        border: 1px solid #f1f1f1;
        background: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    }

    #container h1 {
        width: 38%;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    /* Full-width inputs */
    input[type=email], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    #mail1, #mdp1, #submit1 {
        font-family: "Roboto";
    }

    /* Set a style for all buttons */
    input[type=submit] {
        background-color: #506cbf;
        border: none;
        color: white;
        padding: 14px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        margin: 8px 0;
        font-size: 15px;
        border: none;
        cursor: pointer;
        width: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    input[type=submit]:hover {
        transform: scale(1.06);
        background-position: -60px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    input[type=submit]:active {
        transform: scale(1);
        background-position: 500px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    body, html {
        height: 100%;
        margin: 0;
    }

    .bg {
        background-image: url("/assets/img/background.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1, h3 {
        text-align: center;
    }

    .titre {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-right: 40px;
        margin-top: 20px;
    }

    img {
        margin-right: 20px;
    }

    h1 {
        margin-top: 30px;
    }

    h3 {
        margin: auto;
    }
    #logo {
        cursor: pointer;
    }

}

@media (max-width: 1001px) {
    body {
        background-image: url("/assets/img/background2.jpg");
        background-size: cover;
    }

    form {
        border-color: black;
        border-radius: 8px;
    }

    #container{
        width:60%;
        height: 500px;
        margin:0 auto;
        margin-top:10%;
    }
    /* Bordered form */
    form {
        width:100%;
        padding: 30px;
        border: 1px solid #f1f1f1;
        background: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    }
    #container h1{
        width: 600px;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    /* Full-width inputs */
    input[type=email], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 40px;
    }

    #mail1, #mdp1, #submit1{
        font-family: "Roboto";
        font-size: 45px;
    }

    /* Set a style for all buttons */
    input[type=submit] {
        background-color: #506cbf;
        border: none;
        color: white;
        padding: 14px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        margin: 8px 0;
        font-size: 15px;
        border: none;
        cursor: pointer;
        width: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    input[type=submit]:hover {
        transform: scale(1.06);
        background-position: -60px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    input[type=submit]:active {
        transform: scale(1);
        background-position: 500px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    body, html {
        height: 100%;
        margin: 0;
    }

    .bg {
        background-image: url("/assets/img/background.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1,h3 {
        text-align: center;
    }

    .titre {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-right: 40px;
        margin-top: 20px;
    }

    img {
        margin-right: 20px;
    }

    h1 {
        margin-top: 30px;
        font-size: 65px;
    }

    h3 {
        margin: auto;
        font-size: 45px;
    }

}