@font-face{
    font-family: "Roboto";
    src : url(/assets/font/Roboto/Roboto-Regular.ttf);
}

body {
    background-image: url("/assets/img/background.jpg");
    background-size: cover;
}

.titre {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-right: 40px;
    margin-top: 20px;
}

h1, h3 {
    text-align: center;
}

.styled-table{
    background-color: #ffffff;
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #506cbf;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #506cbf;
}

.styled-table td:nth-last-child(-n+2) {
    background-color: unset;
}

button {
    background-color: #506cbf;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    height: 35px;
    width: 100px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.supp {
    background-color: #8A0210;
}

#ajout {
    background-color: #018A04;
}

button:hover {
    transform: scale(1.02);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

button:active {
    transform: scale(1);
    background-position: 500px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.password-container{
    position: relative;
}
.password-container input[type="password"],
.password-container input[type="text"]{
    width: 100%;
    box-sizing: border-box;
}
.fa-eye{
    position: absolute;
    right: 10%;
    cursor: pointer;
    color: lightgray;
}